html
  head
    link(rel="stylesheet" type="text/css" href="/styles/style.css")
  body
    h1
      | Product Finder
    a(href=product.url)
      h2=product.name
    p=product.plNumber
    p #{product.dose}, #{product.substance}
